* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



#color-picker {
    width: 100px;
    height: 25px;
    border: none;
    margin-top: 7px;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    height: 60px;
    width: 110px;
    margin: 15px;
    background-color: blue;
    border: solid 1px orange;
    border-radius: 8%;
    color: pink;
    font-size: 20px;
    border: none;
}

button:hover {
    background-color: rgb(212, 212, 212);
    color: blue;
}

.cell {
    background-color: white;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    text-align: center;
    color: white;
    font-size: 55px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    max-height: 700px;
    border: black solid 2px;
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 212, 212);
    border: 2px solid black;
}

